<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>KETI Parking Area</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 2</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area2') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 3</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area3') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 4</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area4') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 5-1</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area5_1') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 5-2</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area5_2') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 6</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area6') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 7</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area7') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - 8</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area8') }}">
        </div>
        <div class="col-lg-4">
            <h3 class="mt-5">Parking Area - Vistor</h3>
            <img width="100%" onclick="window.open(this.src)" alt="클릭하시면 조금더 커집니다.." hspace="0" src="{{ url_for('parking_area_vistor') }}">
        </div>
    </div>
</div>
</body>
</html>